*.elf
*.txt
*.sopcinfo
*.a
*.html
*.bsp
*.gdb
*.objdump
*.csv
.force*
*.mk
*.qws
*.bak
.metadata
*.map
linker.x
db/*
hw/Module5_Sample_HW/db/
hw/Module5_Sample_HW/incremental_db/
hw/Module5_Sample_HW/output_files/
hw/Module5_Sample_HW/top_qsys/
hw/Module5_Sample_HW/nios_qsys/
hw/Module5_Sample_HW/.qsys_edit/
hw/Module5_Sample_HW/hps_isw_handoff/
hw/Module5_Sample_HW/software_nios2/RFS_SENSOR/obj/
hw/Module5_Sample_HW/software_nios2/RFS_SENSOR_bsp/*.c
hw/Module5_Sample_HW/software_nios2/RFS_SENSOR_bsp/*.h
hw/Module5_Sample_HW/software_nios2/RFS_SENSOR_bsp/drivers/
hw/Module5_Sample_HW/software_nios2/RFS_SENSOR_bsp/Makefile
hw/Module5_Sample_HW/software_nios2/RFS_SENSOR_bsp/obj/
hw/Module5_Sample_HW/software_nios2/RFS_SENSOR_bsp/HAL/

